ChicagoCrimeReportsLoad.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "5038cc32-ae27-a79b-41a0-a931634cfcab",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get Latest Date",
        "dependsOn": []
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "50dd92ed-04b7-b71e-43cf-ee939c742776",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get App Token",
        "dependsOn": []
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "LastDate",
          "value": {
            "value": "@activity('Get Latest Date').output.result.exitValue",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set Last Date",
        "dependsOn": [
          {
            "activity": "Get Latest Date",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "appToken",
          "value": {
            "value": "WxJpjZeMUc8upPyRMz1Zdz28j",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set App Token",
        "dependsOn": [
          {
            "activity": "Get App Token",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            },
            "storeSettings": {
              "type": "HttpReadSettings",
              "requestMethod": "GET"
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "HttpServerLocation",
                  "relativeUrl": {
                    "value": "@concat('?$$app_token=',variables('appToken'),'&$limit=10000000&$order=date&$where=date>''',variables('LastDate'),'''')",
                    "type": "Expression"
                  }
                },
                "columnDelimiter": ",",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "externalReferences": {
                "connection": "c7068af6-9ee2-4ef8-a40a-79f59bcb0cb4"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "ParquetSink",
            "formatSettings": {
              "type": "ParquetWriteSettings",
              "enableVertiParquet": true
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "Bronze/LatestReports",
                  "fileName": {
                    "value": "@pipeline().RunId",
                    "type": "Expression"
                  }
                },
                "compressionCodec": "snappy"
              },
              "schema": [],
              "linkedService": {
                "name": "ChicagoPublicSafety",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "49c286db-e519-90d5-4ae7-5eaf27593f2c",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false,
          "enableSkipIncompatibleRow": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy Crime Data",
        "description": "Get the latest crime reports",
        "dependsOn": [
          {
            "activity": "Set App Token",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Set Last Date",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "RunID",
          "value": {
            "value": "@pipeline().RunId",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set RunID",
        "dependsOn": [
          {
            "activity": "Copy Crime Data",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "71803afb-2054-93d0-4efd-cb71827d8774",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "RunID": {
              "value": {
                "value": "@variables('RunID')",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Transform Reports",
        "dependsOn": [
          {
            "activity": "Set RunID",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "variables": {
      "LastDate": {
        "type": "String",
        "defaultValue": "2001-01-01"
      },
      "appToken": {
        "type": "String",
        "defaultValue": "WxJpjZeMUc8upPyRMz1Zdz28j"
      },
      "RunID": {
        "type": "String"
      }
    }
  }
}